set_io clk_100mhz R9

set_io RPI_IO1    D6
set_io RPI_IO2    C6
set_io RPI_IO3    C7
set_io RPI_IO6    D4
set_io RPI_IO7    D7
set_io RPI_IO8    D9
set_io RPI_IO9    C9
set_io RPI_IO10   C10

set_io pmod1_1    D8
set_io pmod1_2    B9
set_io pmod1_3    B10
set_io pmod1_4    B11
set_io pmod1_7    B8
set_io pmod1_8    A9
set_io pmod1_9    A10
set_io pmod1_10   A11

set_io pmod2_1    A5
set_io pmod2_2    A2
set_io pmod2_3    C3
set_io pmod2_4    B4
set_io pmod2_7    B7
set_io pmod2_8    B6
set_io pmod2_9    B3
set_io pmod2_10   B5

set_io pmod3_1    L9
set_io pmod3_2    G5
set_io pmod3_3    L7
set_io pmod3_4    N6
set_io pmod3_7    N9
set_io pmod3_8    P9
set_io pmod3_9    M8
set_io pmod3_10   N7

set_io pmod4_1    T15
set_io pmod4_2    T14
set_io pmod4_3    T11
set_io pmod4_4    R10
set_io pmod4_7    R14
set_io pmod4_8    T13
set_io pmod4_9    T10
set_io pmod4_10   T9

set_io output_pin[00  C13
set_io output_pin[01  E9
set_io output_pin[02  B14
set_io output_pin[03  A16
set_io output_pin[04  D15
set_io output_pin[05  D16
set_io output_pin[06  F16
set_io output_pin[07  G15
set_io output_pin[08  G10
set_io output_pin[09  J10
set_io output_pin[0a  G16
set_io output_pin[0b  H16
set_io output_pin[0c  F15
set_io output_pin[0d  E16
set_io output_pin[0e  D14
set_io output_pin[0f  C16

set_io output_pin[10  A15
set_io output_pin[11  C11
set_io output_pin[12  E10
set_io output_pin[13  F9
set_io output_pin[14  E13
set_io output_pin[15  G11
set_io output_pin[16  D10
set_io output_pin[17  D11
set_io output_pin[18  E11
set_io output_pin[19  F12
set_io output_pin[1a  E14
set_io output_pin[1b  F11
set_io output_pin[1c  G12
set_io output_pin[1d  B13
set_io output_pin[1e  C12
set_io output_pin[1f  B12

set_io output_pin[20  L12
set_io output_pin[21  P14
set_io output_pin[22  T16
set_io output_pin[23  F14
set_io output_pin[24  G13
set_io output_pin[25  K15
set_io output_pin[26  H14
set_io output_pin[27  M16
set_io output_pin[28  M15
set_io output_pin[29  J11
set_io output_pin[2a  J13
set_io output_pin[2b  K13
set_io output_pin[2c  L11
set_io output_pin[2d  N12
set_io output_pin[2e  M12
set_io output_pin[2f  R15

set_io output_pin[30  J16
set_io output_pin[31  J15
set_io output_pin[32  J14
set_io output_pin[33  K16
set_io output_pin[34  G14
set_io output_pin[35  L16
set_io output_pin[36  H13
set_io output_pin[37  H12
set_io output_pin[38  N16
set_io output_pin[39  R16
set_io output_pin[3a  K12
set_io output_pin[3b  K14
set_io output_pin[3c  M9
set_io output_pin[3d  L14
set_io output_pin[3e  M14
set_io output_pin[3f  L10
