set_io clk_100mhz R9

set_io RPI_IO[0]    D6
set_io RPI_IO[1]    C6
set_io RPI_IO[2]    C7
set_io RPI_IO[3]    D4
set_io RPI_IO[4]    D7
set_io RPI_IO[5]    D9
set_io RPI_IO[6]    C9
set_io RPI_IO[7]   C10

set_io pmod1_1    D8
set_io pmod1_2    B9
set_io pmod1_3    B10
set_io pmod1_4    B11
set_io pmod1_7    B8
set_io pmod1_8    A9
set_io pmod1_9    A10
set_io pmod1_10   A11

set_io pmod2_1    A5
set_io pmod2_2    A2
set_io pmod2_3    C3
set_io pmod2_4    B4
set_io pmod2_7    B7
set_io pmod2_8    B6
set_io pmod2_9    B3
set_io pmod2_10   B5

set_io pmod3_1    L9
set_io pmod3_2    G5
set_io pmod3_3    L7
set_io pmod3_4    N6
set_io pmod3_7    N9
set_io pmod3_8    P9
set_io pmod3_9    M8
set_io pmod3_10   N7

set_io pmod4_1    T15
set_io pmod4_2    T14
set_io pmod4_3    T11
set_io pmod4_4    R10
set_io pmod4_7    R14
set_io pmod4_8    T13
set_io pmod4_9    T10
set_io pmod4_10   T9

set_io output_pin[0]  C13
set_io output_pin[1]  E9
set_io output_pin[2]  B14
set_io output_pin[3]  A16
set_io output_pin[4]  D15
set_io output_pin[5]  D16
set_io output_pin[6]  F16
set_io output_pin[7]  G15
set_io output_pin[8]  G10
set_io output_pin[9]  J10
set_io output_pin[10]  G16
set_io output_pin[11]  H16
set_io output_pin[12]  F15
set_io output_pin[13]  E16
set_io output_pin[14]  D14
set_io output_pin[15]  C16

set_io output_pin[16]  A15
set_io output_pin[17]  C11
set_io output_pin[18]  E10
set_io output_pin[19]  F9
set_io output_pin[20]  E13
set_io output_pin[21]  G11
set_io output_pin[22]  D10
set_io output_pin[23]  D11
set_io output_pin[24]  E11
set_io output_pin[25]  F12
set_io output_pin[26]  E14
set_io output_pin[27]  F11
set_io output_pin[28]  G12
set_io output_pin[29]  B13
set_io output_pin[30]  C12
set_io output_pin[31]  B12

set_io output_pin[32]  L12
set_io output_pin[33]  P14
set_io output_pin[34]  T16
set_io output_pin[35]  F14
set_io output_pin[36]  G13
set_io output_pin[37]  K15
set_io output_pin[38]  H14
set_io output_pin[39]  M16
set_io output_pin[40]  M15
set_io output_pin[41]  J11
set_io output_pin[42]  J13
set_io output_pin[43]  K13
set_io output_pin[44]  L11
set_io output_pin[45]  N12
set_io output_pin[46]  M12
set_io output_pin[47]  R15

set_io output_pin[48]  J16
set_io output_pin[49]  J15
set_io output_pin[50]  J14
set_io output_pin[51]  K16
set_io output_pin[52]  G14
set_io output_pin[53]  L16
set_io output_pin[54]  H13
set_io output_pin[55]  H12
set_io output_pin[56]  N16
set_io output_pin[57]  R16
set_io output_pin[58]  K12
set_io output_pin[59]  K14
set_io output_pin[60]  M9
set_io output_pin[61]  L14
set_io output_pin[62]  M14
set_io output_pin[63]  L10
